/**
 * Общие стили
 */

* {
    font-size: 13px;
}
body {
    min-width: 1220px;
}

section.main {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 15px 15px 20px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ta_display-none {
    display: none;
}
.ta_clear {
    clear: both;
}
.ta_alerts {
    display: none;
    font-weight: bold;
}

.ta_arrow {
    position: relative;
    top: 177px;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    float: left;
}

/**
 * Блок с информацией по приложению
 */

.ta_private-info-form {
    width: 360px;
    min-height: 400px;
    float: left;
    border: 1px dashed #ddd;
    padding: 5px 10px 10px 10px;
}

.ta_private-info-btn {
    position: relative;
    top: 10px;
}

/**
 * Блок с выбором модуля
 */

.ta_select-modules-form {
    width: 248px;
    min-height: 162px;
    float: left;
    border: 1px dashed #ddd;
    padding: 5px 10px 10px 10px;
    position: relative;
    top: 113px;
    display: none;
}

label[for="ta_filter-id-to"] {
    margin-left: 12px;
}

/**
 * Блок с настройками фильтра
 */

.ta_filter-form {
    width: 400px;
    float: left;
    border: 1px dashed #ddd;
    padding: 5px 10px 10px 10px;
    display: none;
}

input[name="ta_filter-id-from"],
input[name="ta_filter-id-to"],
input[name="ta_filter-date-from"],
input[name="ta_filter-date-to"] {
    width: 147px !important;
}

/**
 * Табы переключения вкладок
 */

.ta_tabs {
    margin-top: 40px;
    margin-bottom: 10px;
    display: none;
    border: 1px dashed #ddd;
    padding: 10px;
}

/**
 * Список материалов
 */

.ta_materials {
    margin-top: 20px;
}

.ta_hr-show-links {
    margin-top: 4px;
    margin-bottom: 0px;
    border-top: 1px solid #337ab7;
    width: 25px;
}

.ta_text-unique-btn, .ta_text-orthography-btn {
    width: 106px;
}

.ta_work-area-th {
    min-width: 200px;
}

.ta_ortography-error-count {
    cursor: pointer;
    text-decoration: underline;
}
.ta_ortography-error-count:hover {
    text-decoration: none;
}

/**
 * Редактор
 */

.ta_result-div {
    display: none;
}

#ta_editor {
    overflow: scroll;
    min-height: 300px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px 20px 10px 10px;
}

.ta_correct-word {
    cursor: pointer;
    margin-left: 3px;
}
.ta_incorrect-word {
    cursor: pointer;
}

.ta_speller-colors-info {
    display: none;
    margin-top: 15px;
    width: 500px;
    float: left;
}
.ta_speller-colors-info p {
     margin-bottom: 0px;
}
.ta_speller-colors-info span {
    width: 20px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.ta_editor-head {
    margin-top: 15px;
}

.ta_save-material {
    float: right;
    margin-top: 15px;
}

/**
 * Графики
 */

.ta_module-graphics {
    width: 100%;
    margin-top: 20px;
}

.ta_categories-graphics-pie, .ta_categories-graphics-line {
    width: 1100px;
    margin: 0 auto;
}